html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  background: var(--sg-neutral-0);
  color: var(--sg-neutral-12);
  font-family: var(--sg-font-sans);
}

.app-shell {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--sg-text-2xl);
  font-weight: var(--sg-font-weight-heading);
}
